<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
    <style>
        .mainbody{
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
        }
        .box{
            height:30px;
            width: 30px;
            border: 2px solid black;
            background-color:{{bgcolor}};
            
        }
        .welcome{
            text-align: center;
            color: purple;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <h1 class="welcome"> Welcome!</h1>
    <div class="mainbody">
        {% for i in range(num) %}
        
        <div class="box"> </div>
        {% endfor %}
    </div>
    <title>Document</title>
</head>
<body>

</body>
</html>